*{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.btn-primary{
   background-color: #711A75;
   border: none;
   padding: 16px 32px;
   border-radius: 5px;
   font-size:20px;
   margin-top: 10px;
   color: #ffffff;
   font-weight: 400;
}

.header{
    background-color: rgb(78, 75, 75) ;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('./images/donation0.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: multiply;

}

.header-content{
    text-align: center;
}

.header-title{
    color:#ffffff;
    font-size: 55px;
}
.header-desc{
    color: #ffffff;
    font-size: 20px;
    font-weight: 400;
}

.donate-today{
    text-align: center;
}

.section-title{
    font-size:px;
    font-weight: 700;
    margin: 50px 0;
    text-align: center;
}
.section-desc{
    color:grey;
    margin-bottom: 20px;
}

ul{
    color:grey;
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 15px;
}

ul li{
    font-size:30px;
    margin-bottom: 40px;
    background-color: #f4f0f5;
    padding: 12px 24px;
    border-radius: 5px;
}

ul li:hover{
    border: 3px solid #711A75;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: #decddf;
}

input{
    border: 0;
    font-size: 18px;
    color:rgb(235, 225, 225);
    margin-bottom: 20px;
}

hr{
    width: 50%;
    margin: 5px auto;
}

.our-donate-plan{
    text-align: center;
}

.donation-part{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:20px;
    margin-top: 30px;
}

.part1, .part2, .part3{
    width:300px;
    height: auto;
    padding: 20px 20px;
    text-align: left;
    border-radius: 5px;
}

.part1{
    background-color: rgb(169, 236, 236);
}

.part2{
    background-color:rgb(223, 188, 194);
}
.part3{
    background-color:rgba(214, 150, 121, 0.952);
}

.donation-part img{
    margin-bottom: 20px;;
}
.lives-depend{
    display: flex;
    justify-content:space-between;
    align-items: center;
    gap: 30px;
    margin: 100px  150px 50px;    
    
}

.lives-depend .lives{
   width: 500px;
   
}

.lives-depend .lives .lives-title{
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 30px;
}



.lives-depend .image{
    width: 400px;
    height: 400px;
    background-size: cover;
    border-radius: 10px;
    padding-right: 30px;

}

.lives-depend .image img{
    border-radius: 2%;
}

.need-us{
    display: flex;
    flex-direction: row-reverse;
}

.my-update{
    text-align: center;
}

.email{
    width: 600px;
    height: 200px;
    background-color: #e09fc3;
    text-align: center;
    margin: 20px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

input[type=text]{
    background-color: rgb(235, 231, 231);
    border-radius: 5px 0 0 5px;
}

input[type=submit]{
    background-color: #711A75;
    border-radius: 0 5px 5px 0 ;
    padding:  10px;
}

.holder{
    display: flex;
}

.humble{
    height: 200px;
    background-color: #180A0A;
    color:#711A75;
    text-align: center;
    align-items: center;
}

.humble-desc{
    color: #ffffff;
}

.humble-title{
    padding-top: 5%;
    font-family: 'Purple Smile', sans-serif;
}